.main {
    height: 500px;
    background-image: url(background.jpg);
    color: aliceblue;
    font-size: 50px;

    /* повтор изображения по оси x */
    background-repeat: repeat -x;

    /* чтобы заставить работать анимацию, указанную ниже в @keyframes  */
    animation: slide 5s linear infinite;
    /* slide - название указанное ниже в @keyframes */
    /* 5s - время всей анимации. в нашем случае 2,5 секунд картинка пойдет в одну сторону и 2,5 сек обратно в исходную точку */
}

/* для создания анимации используем свойство @keyframes */
@keyframes slide { /* название slide сами придумали */
    0% { /* самое начало */
        background-position: 0% 0%; /* горизонталь% вертикаль% */
    }
    50% { /* середина анимации */
        background-position: 100% 0%; /* по горизонтали до одного края сместить на 100% возможного */
    }
    100% { /* конец анимации */
        background-position: 0% 0%; /* возврат в исходную точку */
    }
}