/* * {color: rgb(34, 223, 91);} */
/* * (звёздочка) означает - применить сойства для любого тэга, в результате цвет у всего ТЕКСТА стал другой */

/* h1 {color: brown;}  */
/* Немотря на то что в главном документе h1 написан с id, в нему все равно применяется изменение цвета. */

/* - Через ТОЧКУ(.) мы обращаемся к классу,
   - Через РЕШЕТКУ шарп (#) обращаемся к идентификатору,
   - Если написать имя тэга, например DIV, то мы применим сойства ко всем тэгам DIV на странице */

#p1 {background-color: transparent; 
    color: crimson;} /* Покрасил фон абзаца р1 прозрачным цветом  */

#h1keyboard {background-color: rgb(224, 185, 26);} /* идентификатор id стиля для загловка Сочетания клавиш  */

.keyboard {background-color: rgb(134, 238, 30);} /* Класс стиля для Сочетания клавиш  */

kbd {background-color: rgb(212, 201, 171);} /* Стиль для всех тегов kbd (сочетания клавиш клавиатуры) */

div {background-color: deeppink;} /* Если этот стиль Div перенести ниже нижних дух, то он не перекрасит все divы собой потому что дивы с тайтлом имеют больший приоритет и не дают этому обычному с низшим приоритетом себя перекрасить  */

div[title="text1"] {background-color: brown;} /* Здесь мы обратились к определённому div имеющему всплывающую подсказку text1 */

div[title] {background-color: darkgoldenrod;} /* Здесь мы обратились ко всем элементам div на странице, у которых прописан title. В результате закрасился весь задний фон страницы от левого края до правого. При этом те div у которых title не прописан остаются нетронутыми стилем */

span {background-color: crimson;} /* В результате закрасился задний фон за текстом оборнетым в тег span, как буто закрасили только текст маркером */

code {background-color: gray;} /* Закрашиваем у кода задний фон */

.bgimg {background-image: url(../img/Красный\ воин.png); background-repeat: repeat-y;} /* Добаляем картику на задний фон дива + задаём чтобы картинка повторялась по y сверху вниз */

 



