/* * {
    color: rgb(34, 223, 91);
} */
/* * означает - применить сойства для любого тэга, в результате цвет у всего текста стал teal */

/* h1 {color: brown;}  */
/* Немотря на то что в главном документе h1 написан с id, в нему все арвно применяется изменение цвета. */

/* - Через ТОЧКУ(.) мы обращаемся к классу,
   - Через РЕШЕТКУ шарп (#) обращаемся к идентификатору,
   - Если написать имя тэга, например DIV, то мы применим сойства ко всем тэгам DIV на странице */

#imph1 { background-color: rgb(224, 185, 26);}

.kbd1 { background-color: rgb(179, 166, 130);}

.implist {
    background-color: beige; 
}

div[title] { color: darkgoldenrod;} /* здесь мы обратились к элементу */