
.layer1 {
  position: relative;
  /* left: 50px; */ /* сдвиг слева от своей исходной позиции */

  background: #ddd;
  height: 200px;
  border: 3px solid blue;

}

.layer2 {
  /* Абсолютное позиционирование */
  position: absolute;

  bottom: 15px; /* расстояние от низа окна */

  left: 40px; /* этот сдвиг не работает, работает следующий */
  right: 15px; /* расстояние справа от родителя */
  /* блок не может находиться одновременно слева и справа, поэтому работает то, что находится в коде ниже, оно перебивает собой верхнее свойство */

  border: 1px solid red;
}