* {
    margin: 0; /* сброс для всех тегов внешних отступов (нормализация) */
    padding: 0;
}

.container {
    background-color: #bda6a6;
    width: 900px;
    display: flex; /* расположили вложенный блоки горизонтально */
}

/* Блоки */
.item {
    background-color: #90b0ca;
    width: 200px;

    /* если хотим отделить блоки расположенные горизонтально, то используем margin-right + margin-bottom */
    /* ни в коем случае не устанавливаем отступы слева и сверху (могут быть исключения) */

    margin-right: 15px;
    /*  всех 3-х блоков справа появился внешний отступ в 15px */
    /* появился он и у самого правого 3-го крайнего блока, что неправильно */

    margin-bottom: 15px;
    /* снизу каждого блока внешний оранжевый отступ 15px */

    /* в инструменте разработчика отступ margin красится оранжевым цветом */

}

.h1-text {
    background-color: brown;
}

/* Текст */
/* для текста наоборот используем padding-top + padding-left (не margin) */
h1 {
    padding-top: 15px;
    padding-left: 15px;
    /* в исследовании отступы зеленого цвета - это цвет padding'ов */
}