* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    border: 1px solid red;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.box_inner {
    text-align: center;
}

h1 {
    max-width: 750px;
    margin: 80px auto 30px; /* сверху 80, по бокам auto чтобы по центру, снизу 30 */
    line-height: 45px; /* высота строки (влияет на расстояние между строчками текста) */
    font-weight: normal; /* Убрали жирность шрифта */
}

p {
    max-width: 900px; /* ограничили текст по ширине */
    margin: 0 auto 60px; /* сверху 0, лево-право авто, низ 60 */
    line-height: 30px;
}

.icon_box {
    margin-bottom: 60px;
}

i.fa { /* если написать только i, то не будет работать font-size, надо более точно i.fa */
    color: cadetblue; /* цвет иконки */
    font-size: 80px; /* размер шрифта не применится если писать только i, надо написать более точно i.fa. Можно ещё написать .icon_box i - и это будет работать  */
    margin: 0 50px; /* раздвинули иконки */
}