/* Псевдокласс :root нужен для обращения к самому главному родительскому элементу документа. Его также называют корневым элементом. В случае HTML-документа самым главным родителем всей страницы будет тег <html>. Часто :root используется для того, чтобы задавать кастомные свойства. */
/* https://doka.guide/css/root/ */

:root {
    /* создадим переменную square-color. Перед названием переменной пишем 2 тире, после двоеточие */
    --square-color: blue;
}

.square {
    width: 400px;
    height: 400px;
    border-radius: 30%;

    /* для использования значения переменной пишем var(), в скобках переменная с двумя тире тк же как и вверху */
    background-color: var(--square-color);
}

/*
Вопрос: Какой CSS псевдокласс необходимо использовать, чтобы объявить переменные?

Ответ:
:root
 */