* { /* обнуляем маржины и паддинги для всего чтобы в разных браузерах было всё видно одинаково */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.wrapper { /* Это профессиональная запись для всех сайтов. Враппер - обертка. */
    height: 100%; /* когда содержимого нет он по высоте равен боди, если не написать то высота будер авна нулю и в начале его не будет видно вообще */
    width: 100%; /* ширина этого блока 100% */
    overflow: hidden; /* при выходе за границы блока содержимое образается (по умолчанию visible - отображается снаружи). Но если это написать, то справа бордер будет обрезаться, некрасиво маленько */ 
    background-color: beige;
}

.conteiner {
    max-width: 1140px;
    width: 100%; /* в адаптивной верстве нельзя писать жество заданную ширину потому что иначе при уменьшении экрана оно не будет уменьшаться */
    margin: 0 auto;
    background-color: lightpink;
}
