@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "PTSerif-Regular";
    src: url(../fonts/PTSerif-Regular.ttf);
}

@font-face {
    font-family: "Couture";
    src: url(../fonts/couture-bold.otf);
}

* { /* обнуляем маржины и паддинги для всего чтобы в разных браузерах было всё видно одинаково */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 20px; */
}

p,ul,body {
    margin: 0;
    padding: 0;
}

.wrapper { /* Это профессиональная запись для всех сайтов. Враппер - обертка. */
    height: 100%; /* когда содержимого нет он по высоте равен боди, если не написать то высота будер авна нулю и в начале его не будет видно вообще */
    width: 100%; /* ширина этого блока 100% */
    overflow: hidden; /* при выходе за границы блока содержимое образается (по умолчанию visible - отображается снаружи). Но если это написать, то справа бордер будет обрезаться, некрасиво маленько */ 
    background-color: beige;
}

.header {
    max-width: 1200px;
    width: 100%;
    height: 688px;
    margin: 0 auto;
    background-image: url(../img/img_header.png);
}

.conteiner {
    max-width: 1041px; /* 1011+30=1041. Из-за наличия box-sizing: border-box реально доступная ширина уменьшится на величину паддинга, поэтому прибавляем значение паддинга к max-width */
    padding: 0 15px; /* при уменьшении экрана текст начнет прилипать к границам, чтобы этого не было ставят паддинг по бокам */
    width: 100%; /* в адаптивной верстве нельзя писать жестко заданную ширину потому что иначе при уменьшении экрана оно не будет уменьшаться */
    margin: 0 auto;
    /* border: 1px solid black; */
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    /* border: 1px solid black; */
}

.navigation {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation > li {
    font-size: 18px;
    font-family: "Montserrat-Regular";
    text-transform: uppercase;
}

.navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 12px;
}

.navigation a:hover {
    background-color: black;
    border-radius: 5px;
}

.header_body {
    height: 547px;
    /* border: 1px solid black; */
    display: table-cell;
    vertical-align: middle; /* Вертикальное центрирование разного текста (несколько абзацев) находящихся в диве */
}


.sell_your {
    font-family: "Montserrat-Bold";
    font-size: 70pt;
    line-height: 60pt;
    text-transform: uppercase;
}

.car_now {
    font-family: "Montserrat-Bold";
    font-size: 70pt;
    line-height: 60pt;
    color: white;
    text-transform: uppercase;
}

.text_header {
    font-size: 20px;
    font-family: "PTSerif-Regular";
    color: rgb(255, 255, 255); 
    padding-top: 45px;
    max-width: 475px;
    width: 100%;    
}

.section_our_services {
    background-color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;         
}

.Our_services {
    font-size: 50px;
    font-family: "Couture";
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 95px;
    /* border: 1px solid black; */
}
.our {
    color: rgb(198, 35, 20);
}

.services {
    color: #130e27;
}

.icons {
    display: flex;
    justify-content: space-between;
}

.item {
    display: table-cell;
    vertical-align: middle;
    /* border: 1px solid black; */
    text-align: center;
    width: 180px;
    margin-bottom: 70px;
}

.text_icons {
    font-size: 20px;
    font-family: "PTSerif-Regular";
    color: rgb(22, 22, 22);
    line-height: 28px;
  }
  
.section_our_story {
    background-color: #130e27;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.story_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.story_text {
    font-size: 20px;
    font-family: "PTSerif-Regular";
    color: rgb(255, 255, 255);
    line-height: 28pt;
    max-width: 630px; 
}

.story_button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Montserrat-Regular";
    color: rgb(255, 255, 255);
    width: 270px;
    height: 65px; 
    background-color: #c62314;
    border-radius: 5px;
    text-align: center;
    line-height: 65px; /* хитрое вертикальное выравнивание текста с помощью высоты линии равной высоте границ */
}

.story_button:hover {
    background-color: black;
    /* border: 4px solid white; */
}

