.triodion-regular {
  font-family: "Triodion", serif;
  font-weight: 400;
  font-style: normal;
}

div {
  margin: 5px; /* m5 */
  padding: 10px; /* p10 */
  margin: -5px 15px; /* m-5-15 */
  margin: -5px 10px 15px 20px; /* m-5-10-15-20 */
  margin: -8px; /* m-8 */
  margin: -10px -20px; /* m-10--20 */
  margin: 10em; /* m10em */
  margin: 1.5em; /* m1.5 дробные числа соответствуют em, целые числа соответствуют px */
  width: 100%; /* w100p проценты сокращенно пишутся как p */
  width: 10em; /* w10e */
  width: 10ex; /* w10x */
  margin: 10% 30em 5ex 2ex; /* m10p30e5x2x */

  /* color сокращается с помощью "c" */
  color: #333; /* c#3 */
  color: #e0e0e0; /* c#e0 */
  color: #fc0; /* c#fc0 */
  color: #678912; /* c#678912 */

  /* background сокращается с помощью bg */
  background: #000; /* bg#0 */
  background-color: #fff; /* bgc#f */

  line-height: 2; /* lh2 - расстояние между строками текста. это не тоже самое что 2px */
  line-height: 25px; /* lh25px */

  font-weight: 400; /* fw400 что соответствует нормальному тексту */
  font-weight: bold; /* fwb жирное начертание текста */
  font-weight: normal; /* fwn */

  z-index: 15; /* z15 что говорит о том, что элемент будет поверх другого имеющего например z10*/

  /* знак ! означает important */
  padding: 5px !important; /* p!5 */
  padding: 5em !important; /* p!5em */

  line-height: 2px; /* lh2px */
  line-height: 2%; /* lh2% */
  line-height: 2%; /* lh2p */
  line-height: 2; /* lh2 */

  position: fixed; /* pos:f */
  top: 5px; /* t5 */
  top: 5em; /* t5em */
  left: 5px; /* l5 */
  bottom: 5px; /* b5 */
  bottom: auto; /* b:a */
  display: inline-block; /* dib */
  display: flex; /* df */
  display: grid; /* dg */
  display: block; /* db */
  display: table-column-group; /* d:tcg */

  position: absolute; /* pos:a */
  z-index: 5; /* z5 */
  padding: 5px !important; /* p!5 */
  display: inline-block; /* d:ib */

  visibility: visible; /* v:v */
  overflow: hidden; /* ov:h */
  overflow: scroll; /* ov:s */
  resize: none; /* rsz:n */
  resize: horizontal; /* rsz:h */
  resize: vertical; /* rsz:v */
  cursor: pointer; /* cur:p */
  cursor: hand; /* cur:ha */

  margin: 15px 12px; /* m15-12 */
  margin: auto; /* m:a */
  margin: 0 auto; /* m0-a */
  margin-left: 10px; /* ml */
  margin-top: 10px; /* mt10 */
  padding-right: 10px; /* pr10px */
  box-sizing: border-box; /* bxz */
  box-sizing: border-box; /* bxz:bb */
  width: 100%; /* w100p */
  height: 33.3em; /* h33.3 */
  height: 33.3%; /* h33.3% */
  max-width: 200px; /* maw200 */
  max-height: 200px; /* mah200 */
  min-width: 200px; /* miw200 */
  min-height: 200px; /* mih200 */

  font: 1em sans-serif; /* f */
  font-weight: normal; /* fw */
  font-weight: normal; /* fw:n */
  font-weight: bold; /* fwb */
  font-weight: bolder; /* fw:br */
  font-weight: 400; /* fw400 */
  font-style: italic; /* fs */
  font-variant: normal; /* fv */
  font-size: 25px; /* fz25 */
  font-family: serif; /* ff */
  font-family: cursive; /* ff:c */
  font-family: monospace; /* ff:m */
  font-effect: none; /* fef */
  font-smoothing: antialiased; /* fsm */
  font-stretch: normal; /* fst */

  /* 3.2 Шрифты и Текст, Фон и Цвет */
  vertical-align: top; /* va */
  text-align: left; /* ta */
  text-align: center; /* tac */
  text-align: justify; /* taj */
  text-decoration: none; /* tdn */
  text-decoration: underline; /* tdu */
  text-justify: auto; /* tj */
  line-height: 1; /* lh */
  letter-spacing: normal; /* lts */
  white-space: nowrap; /* whs */
  word-break: normal; /* wob */

  vertical-align: top; /* va:t */
  text-align: center; /* ta:c */
  text-decoration: underline; /* td:u */
  text-transform: uppercase; /* tt:u */
  background: #000; /* bg */
  background: #fff; /* bgf */
  background: #f0f0f0; /* bgf0 */
  background-color: #fff; /* bgc */
  background-image: url(); /* bgi */
  background-repeat: no-repeat; /* bgr */
  background-attachment: fixed; /* bga */
  background-position: 0 0; /* bgp */
  background-size: contain; /* bgs */
  background-size: cover; /* bgsc */
  background-size: none; /* bgs:n */
  color: #000; /* c#0 */
  color: rgb(15, 46, 78); /* cr */
  color: rgba(0, 0, 0, 0.5); /* cra */
  opacity: inherit; /* op */
  opacity: 0.5; /* op.5 */

  background: #000; /* bg */
  background: none; /* bgn */
  background-image: url(); /* bgi */
  background-repeat: no-repeat; /* bgr:n */
  background-position: 0 0; /* bgp */
  background-size: contain; /* bgsz */

  color: #000; /* c */
  color: rgb(0, 0, 0); /* cr */
  color: rgba(0, 0, 0, .5); /* cra */

  /* 3.3 Контент, Таблицы, Границы, Список, XSL */
  content: ''; /* cnt */
  quotes: ; /* q */
  outline: ; /* ol */
  table-layout: ; /* tbl */
  table-layout: fixed; /* tbl:f */

  border: 1px solid #000; /* bd */
  border-radius: ; /* bdrs */
  border-radius: 8px; /* bdrs8 */

  list-style: ; /* lis */
  list-style: none; /* lisn */
  list-style-position: inside; /* lsp */
  list-style-type: disc; /* list */
  list-style-image: ; /* lisi */

  @font-face { /* @f */
    font-family: ;
    src: url();
  }

  @font-face { /* @ff */
    font-family: 'FontName';
    src: url('FileName.eot');
    src: url('FileName.eot?#iefix') format('embedded-opentype'),
       url('FileName.woff') format('woff'),
       url('FileName.ttf') format('truetype'),
       url('FileName.svg#FontName') format('svg');
    font-style: normal;
    font-weight: normal;
  }

  @import url(); /* @i */

  @keyframes identifier { /* kf */

  }

  @media screen { /* @m */

  }

  align-content: start; /* ac */
  animation: none; /* an */
  align-self: ; /* as */
  flex: ; /* fx */
  justify-self: start; /* js */
  justify-content: start; /* jc */
  orientation: landscape; /* ori */
  transform: ; /* trf */
  -webkit-animation: ; /* -w префикс w для браузеров хром и сафари */
  -o-animation: ; /* -o префикс о для браузеров опера */
  -moz-animation: ; /* -m префикс m для браузеров мозилла */

  /* 3.4 Фильтры, работа с БЭМ, Настройки Emmet и VS Code */

  color: #fff; /* c#f */
  font-weight: 400; /* fw400 */

  font-size: 26px; /* fz26 */
  line-height: 15px; /* lh15px */

}
