
.simple-div {
    background-color: darkorchid;
}

span {
    background-color: bisque;
}

.img1 {
    display: block;
    /* изображение стало блоком и перешла на новую строку отделившись от строчного span стоящего перед ним */

    /* выравнивание блока по горизонтали внешними отступами */
    margin: 0 auto;
    /* не работает если элемент строчный (inline) */
}

.container {
    background-color: tomato;
    width: 500px;

    /* выравниваем контейнер по центру а горизонтали */
    margin: 0 auto;
}

.img2 {
    display: block;

    /* выравнивание картинки по горизонтали по центру */
    margin: 0 auto;
}

.img3 {
    display: block;

    /* выравнивание картинки по горизонтали  в правое положение */
    margin: 0 0 0 auto; /* верх право низ лево */
    /*  слева появился автоматический отступ и он прижал нашу картинку вправо */

    /*  для того чтобы картинка была слева нужно ничего не указывать так как она по умолчанию слева */
}

