* {
    margin: 0; /* сброс для всех тегов внешних отступов (нормализация) */
    padding: 0;
}

.container {
    background-color: #bda6a6;
    width: 900px;
}

.list {
    background-color: #90b0ca;
    width: fit-content;
}

/*
Необходимо отодвинуть списки друг от друга.
основной принцип - нужно отодвигать соседние элементы.
самое правильное - это нужно добавить отступ div'у с классом list.
Это максимально верхний элемент в иерархии тегов отвечающих за блок отдельного списка */

/* у главного обворачивающего div'а списка устанавливаем margin: */
/* так как .list может использоваться в других местах сайта, где не должно быть отступов снизу, то создаем дополнительный класс отвечающий за отступы, и либо добавляем к div,у списка как второй класс, либо оборачиваем в отдельный div и присваиваем ему класс для margin */
.mb15 {
    margin-bottom: 15px;
}
/* в таком случае мы сможем использовать класс .list в другом месте без класса .mb15 */

.text {
    background-color: aquamarine;
}


