@font-face {
    font-family: "Yanone";
    src: url(../fonts/YanoneKaffeesatz-Medium.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Yanone", sans-serif;
}

/* иконки */
i.fa {
    font-size: 30px;
    margin-right: 10px;
}

@keyframe slide {
    0% {}

    /* здесь закончил, надоело */
}

.main {
    background-image: url(../img/background__main.jpg);
    background-repeat: repeat-x;
    animation: slide 90s linear infinite;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /*  обрежется все что не влазит */
    overflow: hidden;
}