.grid-container {
    display: grid; /* задается родительскому элементу */

    /* css функция repeat() для повторения */
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    /* repeat(4, minmax(150px, 1fr)) означает повторить 4 раза по 1 фракции, при этом каждая фракция не может стать меньше 150px */
}

/* оформление контейнера grid и всего содержимого в нем: */
.grid-container {
    border: 2px solid red;
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    line-height: 100px;
}

/* четные ячейки красим в бежевый цвет */
.grid-container > div:nth-child(even) {
    background: antiquewhite;
    border: 2px solid brown;
}

/* нечетные ячейки красим в серый цвет */
.grid-container > div:nth-child(odd) {
    background: #666;
    border: 2px solid blue;
}
