/* #region 01. Шрифты с сайта google fonts */
/* Open Sans: CSS class for a variable style
// <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
} */

/* Oswald: CSS class for a variable style
// <weight>: Use a value from 200 to 700
// <uniquifier>: Use a unique and descriptive class name

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* #endregion */

/* #region 01. header */

.header {}

.header__title {}

.logo {}

.burger {}

.burger__line {}

.h1 {}

.h4 {}

/* #endregion */