html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  /* когда экран уменьшим так что изображение перестанет влазить, изображение тоже начнет уменьшаться и полоса прокрутки не появится */
}

:root {
  --accent-color: #F7654A;
  --dark-color: #404149;
  --gray-color: #999;
  --white-color: #FFF;
  --background-color: #E5E5E5;
}

body {
  margin: 0;

  /* так как в основном у нас используется шрифт Oswald, и только в некоторых местах Open Sans, то мы ко всему body применяем Oswald чтобы везде не применять одну и туже строку и все остальные унаследовали стили отсюда */
  font-family: 'Oswald', sans-serif;

  /* толщина 400 будет использоваться как нормальная по умолчанию, а если будет встречаться толстое начертание или тонкое, то установим отдельно */
  font-weight: 400;

  height: 300vh;
  /* необходимо для принудительного наличия полосы прокрутки, потом удалить */
}


/* #region Стили для текста */
.text-h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: medium;
  /* fw500 */
  font-size: 36px;
  text-transform: uppercase;
}

.text-h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: medium;
  /* fw500 */
  font-size: 24px;
}

.text-h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: medium;
  /* fw500 */
  font-size: 21px;
  letter-spacing: 0.02em;
}

.text-p {
  font-family: "Open Sans";
  font-size: 16px;
}

.text-p-reviews {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 21px;
}

/* #endregion */


/* #region Шрифты с сайта google fonts */
/* Open Sans: CSS class for a variable style
// <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
} */

/* Oswald: CSS class for a variable style
// <weight>: Use a value from 200 to 700
// <uniquifier>: Use a unique and descriptive class name

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* #endregion */


/* #region header */

.header {
  min-height: 740px;
  background-image: url(../img/first-screen-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* https://doka.guide/css/background-size/ */
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}


.header__title {
  display: flex;
  /* 2 иконки в линию */
  justify-content: space-between;
  /* горизонтально иконки по краям */
  align-items: flex-end;
  /* вертикально иконки выравниваются по низу */
  padding-top: 20px;
  /* Отступ от иконок сверху */
  margin-bottom: 112px;
  /* внешний отступ от иконок вниз до текста */
}

/* Логотип svg в виде 2 капли */
.logo {
  width: 60px;
  height: 60px;
}

/*  */
.burger {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: var(--accent-color);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger__line {
  display: block;
  width: 21px;
  height: 3px;
  background-color: #fff;
  /* Белый цвет */
  margin-bottom: 4px;
}

.burger__line:last-child {
  margin-bottom: 0;
}

.h1 {
  font-weight: 500;
  /* 500 = medium */
  font-size: 64px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  line-height: 95px;
  max-width: 734px;
  margin: 0 auto 17px;
  color: var(--white-color);
}

@media screen and (width <=380px) {
  .h1 {
    font-size: 46px;
    /* 64 -> 46 */
    line-height: 64px;
    /* 95 -> 64 */
  }
}

.h4 {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  max-width: 734px;
  color: var(--white-color);
  margin: 0 auto;
}

@media screen and (width <=380px) {}

/* #endregion */

.about {
  min-height: 1080px;

  /* Для того, чтобы можно было наш блок задвинуть выше поверх предыдущего блока */
  position: relative;

  padding-top: 250px;
  /* секция header и текущая about соприкасаются на стыке. Чтобы этот стык оставить склеенным, но отодвинуть наши картинки, создали внутренний зеленый отступ в about'е в 250px. В результате отодвинулись именно картинки региона project, а сдвига региона numbers не произошло так как в регионе numbers .info {position: absolute} */
}

/* #region numbers */
.info {
  position: absolute;
  /* Элемент позиционируется относительно ближайшего позиционированного предка. То есть браузер идёт вверх по дереву элементов и ищет ближайшего опорного родителя.
  https://doka.guide/css/position/ */
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F7F7F7;
  max-width: 1110px;
  width: 100%;
  min-height: 300px;
  padding: 57px 130px;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: center;
  justify-items: center;
}

.about__grid-item {
  text-align: center;
  width: 190px;
}

.about__h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 72px;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 5px;
}

.about__h5 {
  color: #000;
  font-size: 36px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.about__p {
  color: var(--gray-color);
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
}

@media screen and (width <=1280px) {
  .about__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (width <=768px) {
  .info {
    position: relative;
    /* чтобы не было каких то непредвиденных проблем в дальнейшем с позиционированием. так как absolute выбивается из патока. Об этом я рассказывал в уроке 12,3 */
    padding: 30px 0;
    /* [adding 130 слева и справа слишком большой, уменьшили его сл 130 до 0, и вертикальные с 57 до 0*/
  }

  .about__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

/* #endregion numbers */

/* #region project */

/* Наши самые большие проекты */
.project-h2 {
  text-align: center;
  margin-bottom: 50px;
}

/* div для карточек */
.about__flex {
  display: flex;
  gap: 30px;
}

/* карточка */
.about__flex-item {
  max-width: 350px;
}

/* 01. Картинка стадиона */
.project-img {
  margin-bottom: 45px;
}

/* 02. Прямоугольник */
.rectangle {
  width: 55px;
  height: 6px;
  background-color: var(--accent-color);
  margin-bottom: 15px;
}

/* Газпром Арена */
.project-h3 {
  color: var(--dark-color);
  margin-bottom: 13px;
}

/* Много текста */
.project-p {
  color: var(--gray-color);
}

@media screen and (width <=1280px) {

  /* при уменьшении разрешения до 800 пикселей текст
<h2 class="text-h2 project-h2">Наши самые большие проекты</h2>
исчезает так как его начинают перекрывать.
нам нужно сдвинуть этот текст ниже, а для этого установим увеличенный padding  */
  .about {
    padding: 450px 15px 110px 15px;
    /* было padding-top: 250px; смотреть выше*/
  }
}

@media screen and (width <=768px) {
  .about__flex {
    flex-direction: column;
    align-items: center;
    /* из-за того, что направление теперь column, то align-items теперь выравнивает не по вертикали как обычно мы привыкли, по по горизонтали */
  }

  .about {
    /* уменьшим padding'и так как от @media<=1280px они остаются огромными и не подходят здесь  */
    padding-top: 150px;
    padding-bottom: 80px;
  }

}

/* #endregion project */

/* #region request */

.request {
  background-color: var(--accent-color);
  padding-top: 30px;
  padding-bottom: 37px;
}

.request__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* горизонтальное выравнивание */
}

.request__flex-left {
  color: var(--white-color);
}

/* .request__flex-right {} */

/* Самые умные проекты */
.request__h4 {
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 7px;

}

.request__h5 {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}


.request__btn {
  margin-top: 20px;
  border: none;
  background-color: #fff;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  padding: 14px 30px;
}

.request_icon {
  margin-right: 15px;
}

@media screen and (width <=1280px) {
  .request {
    padding-left: 15px;
    padding-right: 15px;
  }

}

@media screen and (width <=768px) {
  .request__flex {
    flex-wrap: wrap;
  }

}

/* #endregion Request */

/* #region Services */
.services {
  padding: 150px 0;
}

.section__h2,
.services__h4 {
  color: #000;
  text-align: center;
}

.section__h2 {
  margin-bottom: 55px;
}

.services__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2. 1fr);
  gap: 30px;
  justify-items: center;
}

.services__grid-item {
  padding: 59px 0;
  background-color: #F7F7F7;
  width: 350px;
}

.services__h4 {
  margin: 0 auto;
  /* выравнивание в своей ячейке */
  max-width: 180px;
  text-transform: uppercase;
}

.services_icon {
  margin: 0 auto 21px;
  /* выравнивание в своей ячейке */

}

@media screen and (width <=1280px) {
  .services {
    padding-left: 15px;
    padding-right: 15px;
  }

  .services__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .services__grid-item {
    width: 100%;
  }

}

@media screen and (width <=768px) {
  .services__grid {
    grid-template-columns: repeat(1, 1fr);

  }

}

/* #endregion Services */

/* #region Portfolio */

.portfolio {
  /* При увеличении ширины экрана больше 1920 сделаем так чтобы ширина секции не увеличивалась больше 1920px и была отцентрирована */
  max-width: 1920px;
  margin: 0 auto;
}

.portfolio__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  /* если этого не написать, то при уменьшении ширины экрана картинки уедут влево */
  gap: 0;
  /* на всякий случай */
}

/* .portfolio_grid-item {} */

/* .portfolio__img {
  width: 100%;

} */

@media screen and (width <=1280px) {
  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width <=768px) {
  .portfolio__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* #endregion */

/* #region Question */
.question {
  padding-top: 150px;
  padding-bottom: 110px;
}

/* нам необходимо оформить .section__h2, благодаря форме записи ниже мы оформим .section__h2 находящуюся только внутри .question. .section__h2 в других секциях выше оформленный ранее не будет поврежден */
.question .section__h2 {
  margin-bottom: 50px;
}

/* .question .section__h2 через пробел означает .section__h2 внутри .question с любой степенью вложенности */

/* .question_items {} */

/* .question_item {} */

.question_h3 {
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 23px;
}

.question_h3.close {
  margin-bottom: 31px;
}

.question_p {
  margin-bottom: 40px;
  color: var(--gray-color);
  max-width: 730px;
}

/* Для тех разделов аккордеона, которые открыты: */
/* .question_h3.open слитно означает искать элемент имеющий два этих класса одновременно */
.question_h3.open::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../img/arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 14px;
  transform: rotate(-90deg);
}

/* Для тех разделов аккордеона, которые закрыты: */
.question_h3.close::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url(../img/arrow-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 15px;
}

.question_h3.close+.question_p {
  display: none;
}

/* Выбрать элемент имеющий класс ".question_p" находящийся РЯДОМ на одном уровне с элементом имеющим класс ".question_h3.close", после этого скрыть только .question_p (НЕ оба, а только один) */

@media screen and (width <=1280px) {
  .question {
    padding: 150px 15px 110px;
  }
}

/* #endregion Question */

/* #region Partners */
.partners {
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: var(--dark-color);
}

.partners__h2 {
  color: var(--white-color);
  text-align: center;
  margin-bottom: 50px;
}

.partners__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.partners__item {
  margin-right: 40px;
  margin-bottom: 20px;
  max-width: 170px;
}

/* для каждого 5-го элемента: */
.partners__item:nth-child(5n) {
  margin-right: 0;
}

@media screen and (width <=1280px) {
  .partners__flex {
    justify-content: center;
  }

  .partners__item {
    margin-right: 10px;
    margin-left: 10px;
  }

  .partners__item:nth-child(5n) {
    margin-right: 10px;
    margin-left: 10px;
  }

}

/* #endregion */

/* #region Reviews */
.reviews {
  padding: 150px 0 142px;
}

.reviews_h2 {
  text-align: center;
  margin-bottom: 60px;
}

.reviews__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

/* .reviews__grid-item {} */

.reviews__card {
  background-color: #F7F7F7;
  padding: 28px 30px;
  margin-bottom: 35px;
}

.reviews__quotes {
  font-weight: 700;
  font-size: 96px;
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 1;
  margin-bottom: -40px;
}

/* .text-p-reviews {}

  .text-h4 {} */

.reviews_author-accent {
  color: var(--accent-color);
}

@media screen and (width <=1280px) {

  .reviews {
    padding: 100px 15px;
  }

  .reviews__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (width <=768px) {
  .reviews__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* #endregion */

/* #region Contacts */

.contacts {
  padding: 100px 0 150px;
}

.contacts__h2 {
  text-align: center;
  margin-bottom: 60px;
}

.contacts__grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}

.contacts__item {
  max-width: 255px;
  text-align: center;
}

.contacts__icon {
  width: 50px;
  height: 50px;
  margin: 0 auto 13px;
}

.contacts__h3 {
  text-transform: uppercase;
}

.contacts__h3-gray {
  color: var(--gray-color);
  margin-bottom: 18px;
}

.contacts__h3-accent {
  color: var(--accent-color);
}

@media screen and (width <=1280px) {

  .contacts__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .contacts__item {
    max-width: 100%;
  }
}

@media screen and (width <=768px) {

  .contacts__grid {
    grid-template-columns: repeat(1, 1fr);
  }

}

/* #endregion */


/* #region Footer */

.footer {
  padding: 30px 0;
  background-color: var(--dark-color);
  color: var(--white-color);
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

/* .footer__copyright {}

.footer__brand {} */

@media screen and (width <=1280px) {

}

@media screen and (width <=768px) {

}

/* #endregion */