html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --accent-color: #F7654A;
  --dark-color: #404149;
  --gray-color: #999;
  --white-color: #FFF;
  --background-color: #E5E5E5;
}

body {
  margin: 0;

  /* так как в основном у нас используется шрифт Oswald, и только в некоторых местах Open Sans, то мы ко всему body применяем Oswald чтобы везде не применять одну и туже строку и все остальные унаследовали стили отсюда */
  font-family: 'Oswald', sans-serif;

  /* толщина 400 будет использоваться как нормальная по умолчанию, а если будет встречаться толстое начертание или тонкое, то установим отдельно */
  font-weight: 400;
}


/* #region Стили для текста */
.text-h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: medium;
  /* fw500 */
  font-size: 36px;
  text-transform: uppercase;
}

.text-h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: medium;
  /* fw500 */
  font-size: 24px;
}

.text-h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: medium;
  /* fw500 */
  font-size: 21px;
}

.text-p {
  font-family: "Open Sans";
  font-size: 16px;
}

.text-p-reviews {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 21px;
}

/* #endregion */


/* #region Шрифты с сайта google fonts */
/* Open Sans: CSS class for a variable style
// <weight>: Use a value from 300 to 800
// <uniquifier>: Use a unique and descriptive class name

.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "width" 100;
} */

/* Oswald: CSS class for a variable style
// <weight>: Use a value from 200 to 700
// <uniquifier>: Use a unique and descriptive class name

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* #endregion */


/* #region header */

.header {
  min-height: 740px;
  background-image: url(../img/first-screen-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* https://doka.guide/css/background-size/ */
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}


.header__title {
  display: flex; /* 2 иконки в линию */
  justify-content: space-between; /* горизонтально иконки по краям */
  align-items: flex-end; /* вертикально иконки выравниваются по низу */
  padding-top: 20px; /* Отступ от иконок сверху */
  margin-bottom: 112px; /* внешний отступ вниз до текста */
}

.logo {
  width: 60px;
  height: 60px;
}

.burger {
  width: 50px;
  height: 50px;
}

.burger__line {}

.h1 {}

.h4 {}

/* #endregion */