* {
    box-sizing: border-box;
}

.conteiner {
    width: 1170px; /* стандартная ширина для сайта */
    margin: 0 auto; /* m0-auto - отцентрировали */
}

.menu_inner {
    display: flex; /* логотип стал слева, а меню правее него */
    justify-content: space-between; /* разнесли контент по сторонам - по краям - а между ними вставилось пустое пространство (пробел) */
    align-items: center; /* выровняли по горизонтали */
    margin: 35px 0; /* отступы сверху и снизу по 35 пикселей, по бокам 0 - этоот всего вместе - и от логотипа и от пунктов меню. Это чтобы содержимое не приклеивалось к верхней границе страницы */
    border: 1px solid red;
}

.nav {
    display: flex; /* расположили список в строку, но у нас текст друг на жруга наехал */
    list-style: none; /* убрали кружки у списка */
    /* margin у списка по умолчанию был 16 сверху и снизу.
    padding у списка по умолчанию был 40 слева */
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.nav li a { /* в классе nav, в элементе li, для элемента "a" пишем следующие свойства. Так мы присвоим свойста ссылкам находящимся только в определенном месте, а не всем подряд на странице */
    text-transform: uppercase; /* сделали все буквы заглавными */
    color: #999;
    text-decoration: none; /* убрали подчеркивание снизу */
}

.nav li {
    padding-left: 15px; /* сделали отступы в меню между каждым пунктом */
}