* {
    box-sizing: border-box;
    font-family: sans-serif; /* убрали засечки */
}

.conteiner {
    width: 1170px; /* стандартная ширина для сайта */
    margin: 0 auto; /* m0-auto - отцентровали */
}

.menu_inner {
    display: flex; /* логотип стал слева, а меню правее него */
    justify-content: space-between; /* разнесли контент по сторонам - по краям - а между ними вставилось пустое пространство (пробел) */
    align-items: center; /* выровняли к горизонтали */
    margin: 35px 0; /* отступы сверху и снизу по 35 пикселей, по бокам 0 - это от всего вместе - и от логотипа, и от пунктов меню. Это - чтобы содержимое не приклеивалось к верхней границе страницы */
    /* border: 1px solid red; временно для визуализации границ */
}

/* .menu {
    border: 1px solid; временно для визуализации границ
} */

.nav {
    display: flex; /* расположили список в строку, но у нас текст друг на жруга наехал */
    list-style: none; /* убрали кружки у списка */
    /* margin у всего списка по умолчанию был 16 сверху и снизу.
    padding у списка по умолчанию был 40 слева */
    margin: 0;
    padding: 0;
    font-weight: bold;
}

/* .nav li {
    padding-left: 15px; сделали отступы в меню между каждым пунктом. Убрали эту запись потому что сделали padding в ".nav li a".  
} */

.nav li a { /* в классе nav, в элементе li, для элемента "a" пишем следующие свойства. Так мы присвоим свойста ссылкам находящимся только в определенном месте, а не всем подряд на странице */
    text-transform: uppercase; /* сделали все буквы заглавными */
    color: #999;
    text-decoration: none; /* убрали подчеркивание снизу */
    padding: 10px 20px; 
}

.nav li a:hover {
    background-color: #ffc744; /* при наведении фон подменюшки становистя другого цвета */
    color: #fff; /* цвет текста при наведении */
    border-radius: 5px; /* закруглили контур */
    /* padding: 10px 20px; при этом начинают сказать слова меню так как отступ при наведении меняется, поэтому переносим эту запись в .nav li a - чтобы эти отступы были во всех состояниях - в обычном и в ховере */

    
}