@font-face { /* правило для подключения шрифтов */
    font-family: Caveat; /* Имя шрифта */
    src: url(font/Caveat.ttf); /* Путь к файлу со шрифтом */
}

[alt] {
    border: 10px solid red;
}

[alt="Изображение 1"] {
    border: 10px solid darkblue;
}

.caveat {
font: 40pt Caveat, cursive; /* Название шрифта должно совпадать с указанным в font-family, если не совпадет, то применится только размер шрифта, а шрифт и курсивный наклон нет */
}

/* body {
    font: 40pt Caveat, cursive;    
} */
