/* Общие стили */
hr {
    margin: 40px 0;
}

.parent {
    width: 300px;
    height: 300px;
    background-color: #222;
    margin-bottom: 10px;
}

.child {
    background-color: orange;
    width: 100px;
    height: 100px;
    font-size: 35px;
}

/* Метод 6 */

.parent1 {
    display: grid; /* ранее мы аналогично делали с flex */
    justify-content: center; /* по горизонтали */
    align-items: center; /* по вертикали */
}

/* Метод 7 */
.parent2 {
    display: grid; /* ранее мы аналогично делали с flex */

    place-items: center; /* это шорткат, который одним свойством сразу по 2-м направлениям центрирует */

    /* это то же самое, что эти 2 свойства которые были выше */
    /* justify-content: center; */ /* по горизонтали */
    /* align-items: center; */ /* по вертикали */
    /* если нам нужно только по горизонтали или только по вертикали, то следует использовать их отдельно соответственно */
    /* здесь дочерний элемент никак не задействован */
}

/* Метод 8 */
.parent3 {
    display: grid;
}

.child3 {
    justify-self: center; /* выравнивание по горизонтали */
    align-self: center; /* выравнивание по вертикали */
}

/* Метод 9 */
.parent4 {
    display: grid;
}

.child4 {
    place-self: center;
    /* это шорткат, который одним свойством сразу по 2-м направлениям центрирует */

    /* это то же самое, что эти 2 свойства которые были выше */
    /* justify-self: center; */ /* выравнивание по горизонтали */
    /* align-self: center; */ /* выравнивание по вертикали */
}

/* Метод 10 */
.parent5 {
    display: grid;
}

.child5 {
    margin: auto;
    /* выравнивает одновременно внешние отступы относительно 4-х направлений */
}
