* {
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
}
.box {
    background: rgb(13, 199, 190);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.box__inner {
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center; /* Выравнивание по вертикали всего содержимого посередине 300 пикс */
}
.item {
    display: flex;
    align-items: center; /* Вертикальное выравнивание всех 3-х элементов посередине относительно центра в рамках блочка "иконка + цифры и текст справа" */
    border: 1px solid red;
}
.item__content {
    padding: 20px; /* внутренний отступ вокруг содержимого "число+текст" */
}
.number {
    font-size: 30px;
}
.text {
    font-size: 15px;
    text-transform: uppercase;
}
i.fa {
    font-size: 50px;
}
