* {
    box-sizing: border-box;
}

.box {
    background-color: #10C9C3;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,201,195,1) 100%);
}

.conteiner {
    width: 1170px;
    margin: 0 auto;
}
.content_inner {
    height: 250px;
    color: white;
    justify-content: space-between;
    display: flex;
}

.item_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bundle_column {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.number {
    font-size: 20pt;
}

.text {
    font-size: 15pt;
}

i.fa {
    font-size: 40pt;
}